@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200;1,400&display=swap');

* {
    /* box-sizing: border-box; */
    /* margin: 0; */
    /* padding: 0; */
    font-family: 'Poppins', sans-serif;
}

/* ::-webkit-scrollbar {
    width: 5px;
} */

/* ::-webkit-scrollbar-track {
    background: lightslategray;
} */

/* ::-webkit-scrollbar-thumb {
    background: whitesmoke; 
} */

/* .blur {
    backdrop-filter: blur(10px);
} */

.logo {
    width: 155px;
    height: 64px;
    background: transparent url('img/logo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.menuImage {
    width: 32px;
    height: 14px;
    background: transparent url('img/menu.png') 0% 0% no-repeat padding-box;
    opacity: 1;    
    cursor: pointer;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: black;
    backdrop-filter: blur(45px);
    opacity: 0.8;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.overlay-content {
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
    color: #FFFFFF;
}

.overlay-content a {
    color: #FFFFFF;
    text-decoration: none;
    opacity: 1;
}
  
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */

/* @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
} */

/* #btn-back-to-top {
    width: 30px;
    height: 30px;
    background-image: url(img/up-arrow.png);
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    bottom: 20px;
    right: 30px;
    position: fixed;
    opacity: 0.9; 
    cursor: pointer;    
} */

.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}

/* Para blend color junto con el video */
/* .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: silver;
    mix-blend-mode: overlay;
} */

h6 a {
    text-decoration: none;
    color: whitesmoke;
}

h6 a:hover {
    color: skyblue;
}

.menu {
    top: 100px;
    left: 60px;
    width: 200px;
    align-items: center;
    justify-content: center;
    position: relative;
    list-style: none;
}

.menu li a {
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
}

.menu li a:hover {
    color: skyblue;
}

/* .scroll-page {
    scroll-behavior: smooth;
} */

/* .scroll-page p {
    text-align: left;
} */