@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200;1,400&display=swap');

* {
    /* box-sizing: border-box; */
    /* margin: 0; */
    /* padding: 0; */
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: lightslategray;
}

::-webkit-scrollbar-thumb {
    background: whitesmoke; 
}

.blur {
    backdrop-filter: blur(10px);
}

.logo {
    width: 155px;
    height: 64px;
}

.menuImage {
    width: 32px;
    height: 14px;
    background: url(img/menu.png);;
    background-size: 50px;
    background-position: right;
    background-repeat: no-repeat;
    cursor: pointer;
}

#btn-back-to-top {
    width: 30px;
    height: 30px;
    background-image: url(img/up-arrow.png);
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    bottom: 20px;
    right: 30px;
    position: fixed;
    opacity: 0.9; 
    cursor: pointer;    
}

.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}

/* Para blend color junto con el video */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: silver;
    mix-blend-mode: overlay;
}

h6 a {
    text-decoration: none;
    color: whitesmoke;
}

h6 a:hover {
    color: skyblue;
}

.menu {
    top: 100px;
    left: 60px;
    width: 200px;
    align-items: center;
    justify-content: center;
    position: relative;
    list-style: none;
}

.menu li a {
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
}

.menu li a:hover {
    color: skyblue;
}

.scroll-page {
    scroll-behavior: smooth;
}

.scroll-page p {
    text-align: left;
}